@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/crimson';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

    html {
    }
    main {
        @apply container mx-auto max-w-4xl items-center grow;
    }
    body {
        @apply bg-surface-100-900;
        @apply text-surface-950-50 text-center;
        @apply font-mono;
        @apply transition duration-100;
    }
    h1 {
        @apply text-5xl;
        @apply text-surface-950-50;
    }
    h4 {
        @apply text-xl;
    }
    button {
        @apply rounded-2xl p-2 ml-4 mr-4;
        @apply cursor-pointer;
        @apply preset-outlined-primary-300-700 dark:preset-outlined-tertiary-200-800;
        @apply transition duration-100;
    }
    button:hover {
        @apply preset-filled-primary-500 dark:preset-filled-tertiary-500;
    }
    header {
        @apply flex items-center justify-between p-4 mb-10 container mx-auto max-w-5xl rounded-4xl mt-4;
    }
    .link-button {
        @apply btn capitalize preset-outlined-primary-300-700 dark:preset-outlined-tertiary-200-800 rounded-2xl p-2 ml-4 mr-4;
        @apply transition duration-100;
        @apply hover:preset-filled-primary-500 hover:dark:preset-filled-tertiary-500;
    }
    .shadows {
        @apply shadow-xl shadow-primary-300 dark:shadow-tertiary-200-800 border-t border-t-primary-300 dark:border-t-tertiary-800;
    }
}