@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/crimson';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

    html {
    }
    main {
        @apply container mx-auto max-w-2xl items-center grow;
    }
    body {
        @apply bg-surface-50 dark:bg-surface-950;
        @apply text-primary-950 text-center dark:text-primary-50;
        @apply font-mono;
        @apply transition duration-100;
    }
    h1 {
        @apply text-5xl;
        @apply dark:text-primary-50 text-primary-950;
    }
    h4 {
        @apply text-xl;
    }
    button {
        @apply border-2 rounded-3xl p-2 ml-4 mr-4;
        @apply cursor-pointer;
        @apply bg-primary-50 dark:bg-primary-950;
        @apply border-secondary-100 dark:border-secondary-900;
        @apply transition duration-300;
    }
    button:hover {
        @apply bg-primary-200 dark:bg-secondary-900;
        @apply border-primary-400 dark:border-tertiary-900;
    }
    header {
        @apply flex items-center justify-between p-4 mb-10 shadow-md;
        @apply bg-primary-100 dark:bg-primary-800 text-primary-950 dark:text-primary-50;
    }
}