@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

    html {
        @apply bg-white dark:bg-black;
        @apply text-black text-center dark:text-white;
    }
    h1 {
        @apply text-5xl;
        @apply dark:text-cyan-500 text-red-500;
    }
    h4 {
        @apply text-xl;
    }
    button {
        @apply border-2 rounded-md p-2 ml-2 mr-2;
        @apply border-indigo-950 dark:border-gray-500;
        @apply bg-gray-800 dark:bg-white;
        @apply text-white dark:text-black;
        @apply cursor-pointer;
    }
    header {
        @apply flex items-center justify-between p-4 shadow-md bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
    }
}